/* Centering the main objects */
.centre-page {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/* The main area including the textbox and border around the images */
#search-area {
    height: 34px;
    width: 487px;
    border-color: none;
    border: white;
    padding: 7px 50px 7px 50px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 50px;
}

#search-area:hover {
    box-shadow: 2px 3px 5px 3px #cfcece;
}

/* Distancing the logo from the bottom */
#logo {
    padding-bottom: 200px;
}

/* Setting the font for the page */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Image on the left */
#search-glass {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 48.1%;
    left: 30.25%;
    z-index: 1;
}

/* Image on the right */
#microphone {
    width: 25px;
    height: 30px;
    position: absolute;
    top: 48%;
    right: 30.25%;
    z-index: 1;
}

/* Header Navbar */

.List-1, .List-2 {
    margin-top: 2.5px;
    padding-right: 10px;
}

li {
    list-style-type: none;
    font-size: 14px;
    display: inline-flex;
    float: left;
}

.header-navbar-right {
    float: right;
}

.header-navbar-right:last-child { 
    margin-right: 20px;
}

.List-3, .List-4 {
    margin-top: 5px;
}

a {
    padding: 8px;  
}

.pfp {    
    border-radius: 50%;
}

a {
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
    color:black; 
}

a:hover { 
    text-decoration: none; 
    color: black; 
}

a:focus { 
    text-decoration: none; 
    color: black; 
}

a:hover, a:active { 
    text-decoration: none; 
    color: black ;
}