/* Centering the main objects */
.centre-page {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/* The main area including the textbox and border around the images */
#search-area {
    height: 34px;
    width: 487px;
    border-color: none;
    border: white;
    padding: 4px 50px 4px 50px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 50px;
}

/* Distancing the logo from the bottom */
#logo {
    padding-bottom: 200px;
}

/* Setting the font for the page */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Image on the left */
#search-glass {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 48.35%;
    left: 30.25%;
    z-index: 1;
}

/* Image on the right */
#microphone {
    width: 25px;
    height: 30px;
    position: absolute;
    top: 48.35%;
    right: 30.25%;
    z-index: 1;
}
