/* Centering the main objects */
.centre-page {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/* The main area including the textbox and border around the images */
#search-area {
    height: 34px;
    width: 487px;
    border-color: none;
    border: 1px solid #d6d6d6;
    padding: 7px 50px 7px 50px;
    font-size: 16px;
    border-radius: 50px;
}

#search-area:hover {
    box-shadow: 2px 3px 5px 3px #cfcece;
}

/* Distancing the logo from the bottom */
#logo {
    padding-bottom: 200px;
}

/* Setting the font for the page */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Image on the left */
#search-glass {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 43.75%;
    left: 30.25%;
    z-index: 1;
}

/* Image on the right */
#microphone {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 43.75%;
    right: 30.25%;
    z-index: 1;
}

/* Header Navbar */

.List-1, .List-2 {
    margin-top: 2.5px;
    padding-right: 10px;
}

li {
    list-style-type: none;
    display: inline-flex;
    float: left;
}

.header-navbar-right {
    float: right;
}

.header-navbar-right:last-child { 
    margin-right: 20px;
}

.List-3, .List-4 {
    margin-top: 8px;
}

header a {
    padding: 8px;
    color: black;  
    font-size: 14px;
}

.pfp {    
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #3c4043;
}

a:visited { 
    text-decoration: none; 
    color:black; 
}

a:hover { 
    text-decoration: none; 
    color: black; 
}

a:focus { 
    text-decoration: none; 
    color: black; 
}

a:hover, a:active { 
    text-decoration: none; 
    color: black ;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    display: inline-block;
}

#google-search-btn {
    position: absolute;
    top: 50%;
    left: 39%;
}

#feeling-lucky-btn {
    position: absolute;
    top: 50%;
    left: 51%;
}

.btn:hover {
    border: solid 1px #cfcece;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
    line-height: 30px;
    border-top: 1px solid #dadce0;
    color: #70757a;
}

.footer-navbar-right {
    float: right;
}

footer a {
    display: inline-block;
    padding-left: 27px;
    color: #70757a; 
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    position: relative;
    right: 25px;
    bottom: 7px;
}